
                    <form  [formGroup]="formvalue"  ng-submit="SubmitCourse()">
                            <div class="container-fluid">
                                <div class="form-group">
                                    <input type="hidden" ng-model="item_id"> <br>
                                    <label for="name">Tên Khóa học</label><br>
                                    <input  type="text" formControlName="item_name" name=""  placeholder="Nhập tên khóa học" aria-describedby="helpId"><br>     
                                    <label for="maLoai">Loại Khóa học</label><br>
                                    <input formControlName="item_group_id" type="text" name="" id="" > <br>                             
                                    <label for="file">Ảnh đại diện:</label><br>
                                    <div style="display: flex;">
                                        <img   style="width: 100px; height: 100px; margin-right: 10px;"  aria-describedby="helpId">
                                        <input type="text" formControlName="item_image" placeholder="Chọn ảnh đại diện" /> <br>

                                    </div>
                                    <label for="donGia">Đơn giá: </label><br>
                                    <input formControlName="item_price" type="number" name="" min="0" value=0 id="" class="form-control" aria-describedby="helpId"> <br>
                                </div>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" value="{{ submit }}" class="btn btn-primary">{{submit}}</button>  
                        </div>
                    </form>