
                    <form [formGroup]="formvalue"  ng-submit="SubmitCourse()">
                            <div class="container-fluid">
                                <div class="form-group">
                                    <input type="hidden" ng-model="item_id">
                                    <label for="name">Tên Khóa học</label>
                                    <input  type="text" formControlName="course_name" name=""  placeholder="Nhập tên khóa học" aria-describedby="helpId">
                                    <label for="name">Giáo viên</label>
                                    <input  type="text" formControlName="course_teacher" name=""  placeholder="Chọn giáo viên" aria-describedby="helpId">                                    
                                    <label for="maLoai">Loại Khóa học</label><br>
                                    <input formControlName="course_group_id" type="text" name="" id="" > <br>                                
                                    <label for="file">Ảnh đại diện:</label><br>
                                    <div style="display: flex;">
                                        <img ng-if="course_image"  style="width: 100px; height: 100px; margin-right: 10px;"  aria-describedby="helpId">
                                        <input type="text" formControlName="course_image" placeholder="Chọn ảnh đại diện" id = "file"/>
                                    </div>
                                    <label for="donGia">Đơn giá</label>
                                    <input formControlName="course_price" type="number" name="" id="" class="form-control" placeholder="Đơn giá" aria-describedby="helpId">
                                </div>
                            </div>
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" value="{{ submit }}" class="btn btn-primary">{{submit}}</button>
                        </div>
                    </form>