
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary animated--grow-in">Tất cả các Chương trình Khuyến mãi</h6>
                  <form class="navbar-search animated--grow-in">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-1 medium "
                        placeholder="What do you want to look for?" aria-label="Search"
                        aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center text-center table-flush animated--grow-in">
                    <thead class="thead-light">
                      <tr>
                        <th><input type="checkbox"></th>
                        <th>Chi tiết </th>
                        <th>Trạng thái</th>
                        <th>Đã tham gia</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                      </tr>
                    </thead>
                    <tbody class="">
                      <tr>
                        <td><input type="checkbox"></td>
                        <td class="text-left">
                          <a href="#">RA0449</a><br>
                          <span>Giảm 50% cho đơn hàng đạt giá trị tối thiểu</span> 
                        </td>
                        <td><span class="badge badge-success">Đang hoạt động</span></td>
                        <td>1/1</td>
                        <td>12/1/2021</td>
                        <td>12/5/2021</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td class="text-left">
                          <a href="#">RA0449</a><br>
                          <span>FreeShip các quốc hàng nội địa</span> 
                        </td>
                        <td><span class="badge badge-warning">Sắp hết hạn</span></td>
                        <td>1/1</td>
                        <td>12/1/2021</td>
                        <td>12/5/2021</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td class="text-left">
                          <a href="#">RA0449</a><br>
                          <span>Giảm 10% các đơn hàng trong ngày</span> 
                        </td>
                        <td><span class="badge badge-danger">Đã ngừng</span></td>
                        <td>1/1</td>
                        <td>12/1/2021</td>
                        <td>12/5/2021</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td class="text-left">
                          <a href="#">RA0449</a><br>
                          <span>Giảm 50% cho đơn hàng đạt giá trị tối thiểu</span> 
                        </td>
                        <td><span class="badge badge-success">Đang hoạt động</span></td>
                        <td>1/1</td>
                        <td>12/1/2021</td>
                        <td>12/5/2021</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td class="text-left">
                          <a href="#">RA0449</a><br>
                          <span>FreeShip các quốc hàng nội địa</span> 
                        </td>
                        <td><span class="badge badge-warning">Sắp hết hạn</span></td>
                        <td>1/1</td>
                        <td>12/1/2021</td>
                        <td>12/5/2021</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td class="text-left">
                          <a href="#">RA0449</a><br>
                          <span>Giảm 10% các đơn hàng trong ngày</span> 
                        </td>
                        <td><span class="badge badge-danger">Đã ngừng</span></td>
                        <td>1/1</td>
                        <td>12/1/2021</td>
                        <td>12/5/2021</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td class="text-left">
                          <a href="#">RA0449</a><br>
                          <span>Giảm 50% cho đơn hàng đạt giá trị tối thiểu</span> 
                        </td>
                        <td><span class="badge badge-success">Đang hoạt động</span></td>
                        <td>1/1</td>
                        <td>12/1/2021</td>
                        <td>12/5/2021</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td class="text-left">
                          <a href="#">RA0449</a><br>
                          <span>FreeShip các quốc hàng nội địa</span> 
                        </td>
                        <td><span class="badge badge-warning">Sắp hết hạn</span></td>
                        <td>1/1</td>
                        <td>12/1/2021</td>
                        <td>12/5/2021</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td class="text-left">
                          <a href="#">RA0449</a><br>
                          <span>Giảm 10% các đơn hàng trong ngày</span> 
                        </td>
                        <td><span class="badge badge-danger">Đã ngừng</span></td>
                        <td>1/1</td>
                        <td>12/1/2021</td>
                        <td>12/5/2021</td>
                      </tr>
  
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
              <!-- Form Sizing -->