 <!-- Container Fluid-->
 <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
     
      <ol class="breadcrumb pull-left">
        <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
        <li class="breadcrumb-item">Khóa học</li>
        <li class="breadcrumb-item active" aria-current="page">Danh sách khóa học</li>
      </ol>
      <button  type="button" class="btn btn-primary pull-right"(click)="refesCourseData();" data-toggle="modal" title="Thêm mới một khóa học" data-target="#modelId">Thêm mới</button>
    </div>

    <div class="row">
      <div class="col-lg-12 mb-4">
        <!-- Simple Tables -->
      
        <div class="card">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush ">
              <thead class="thead-light">
                <tr>
                  <th>STT</th>
                  <th>Tên khóa học</th>
                  <th>Loại khóa học</th>
                  <th>Mức giá</th>
                  <th class="text-center">Thao tác</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of course|paginate:{itemsPerPage:5,currentPage:p}; index as i">
                  <td>{{i+1 }}</td>
                  <td > <span class="d-inline-block text-truncate" style="max-width: 250px;" title="{{item.item_name}}">
                    {{item.item_name}}
                  </span></td>
                  <td ><span class="d-inline-block text-truncate " style="max-width:200px;">{{item.item_group_id }}</span> </td>
                  <td> 
                    <span *ngIf="item.item_price===0;else elseBlock" class="badge badge-warning">Free</span>
                    <ng-template #elseBlock> 
                      <span class="badge badge-success">
                          {{item.item_price.toLocaleString('vi-VN', 
                          {
                          style: 'currency',
                          currency: 'VND'
                          })
                          }}
                      </span>
                    </ng-template>
                  </td>
                  
                  <td class="" style="min-width: 100px; text-align: center;">
                    <a (click)="selectDetail(item)" class="btn btn-success  m-1 text-light" title="Xem chi tiết thông tin khóa học"><i class="fas fa-list"></i></a>
                    <a (click)="editCourseData(item)" class="btn btn-warning m-1 text-light" title="Chỉnh sửa thông tin khóa học" data-toggle="modal" title="Thêm mới một khóa học" data-target="#modelId"><i class="fas fa-edit" ></i></a>
                    <a (click)="deleteCourseData(item)" class="btn btn-danger m-1  text-light" title="Xóa thông tin khóa học"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
          <div class="card-footer" >

            <pagination-controls (pageChange)="p=$event" class=" bg-green float-right" style="position:sticky;">

            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <!--Row-->
        <!-- Thêm mới  -->
        <div class="modal fade " id="modelId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">{{submit}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <!-- <app-add-or-edit-course>
                    </app-add-or-edit-course> -->

                    <form  [formGroup]="formvalue"  >
                      <div class="container-fluid">
                          <div class="form-group">
                              <input type="hidden" class="form-control" formControlName="item_id"> <br>
                              <label for="name">Tên Khóa học</label><br>
                              <input  type="text" class="form-control" formControlName="item_name" name=""  placeholder="Nhập tên khóa học" aria-describedby="helpId"> <br>   
                              <label for="maLoai">Loại Khóa học</label><br>
                              <input class="form-control" formControlName="item_group_id" type="text" placeholder="Nhập loại khóa học" name="" id="" >      <br>                     
                              <label for="file">Ảnh đại diện:</label><br>
                              <div style="display: flex;">
                                  <img   style="width: 100px; height: 100px; margin-right: 10px;"  aria-describedby="helpId"><br>
                                  <input type="text" class="form-control" formControlName="item_image" placeholder="Chọn ảnh đại diện" /> <br>
                              </div>
                              <label for="donGia">Đơn giá: </label><br>
                              <input formControlName="item_price" type="number" name="" min="0" value=0 id="" class="form-control" aria-describedby="helpId"> <br>
                          </div>
                      </div>
                  <div class="modal-footer">                
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" (click)="submitCourse()" value="{{submit}}" class="btn btn-primary">{{submit}}</button>  
                  </div>
              </form> 
                    
                </div>
              </div>
          </div>
      </div>
   
  </div>
  <!---Container Fluid-->