<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
     
        <ol class="breadcrumb pull-left">
          <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
          <li class="breadcrumb-item">Đơn Hàng</li>
          <li class="breadcrumb-item active" aria-current="page">Danh sách Đơn Hàng</li>
        </ol>
      </div>
    
    <div class="row ">
    
        <div class="col-md-12">
            <!-- PAGE CONTENT BEGINS -->
            <p-panel header="Tìm kiếm" >
                <form class="form-horizontal" role="form" [formGroup]="formsearch" (ngSubmit)="search()">
                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right"> Họ tên</label>
                        <div class="col-sm-11">
                            <input formControlName="hoten" type="text" placeholder="Họ tên" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right"> Địa chỉ </label>
                        <div class="col-sm-11">
                            <input formControlName="diachi" type="text" placeholder="Tài khoản" style="width: 100%;" />
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right"></label>
                        <div class="col-sm-11">
                            <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </p-panel>
            <p-table selectionMode="single" [value]="users" styleClass="p-datatable-gridlines"
                [style]="{'margin-top': '2px', 'width': '100%'}" [dataKey]="'ma_hoa_don'"
                (onRowExpand)="onRowExpand($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 50px; text-align: center;">
                            <i class="ace-icon fa fa-expand-arrows-alt"></i>
                        </th>
                        <th style="width: 70px; text-align: center;">STT</th>
                        <th style="width: 20%; text-align: left;">Họ tên</th>
                        <th style="text-align: left;">Địa chỉ</th>
                        <th style="width: 120px; text-align: left;">Tác vụ</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex" let-expanded="expanded">
                    <tr>
                        <td style="width: 50px; text-align: center;">
                            <a href="#" [pRowToggler]="item">
                                <i
                                    [ngClass]="expanded ? 'fa fa-fw fa-angle-double-down' : 'fa fa-fw fa-angle-double-right'"></i>
                            </a>
                        </td>
                        <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
                        <td>{{ item.ho_ten }}</td>
                        <td>{{ item.dia_chi }}</td>
                        <td class="action-col">
                            <div class="btn-group">
                                <button title="" class="btn btn-xs btn-white btn-default" (click)="openUpdateModal(item)">
                                    <i class="ace-icon fa fa-edit"></i>
                                </button>
                                <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(item)">
                                    <i class="ace-icon fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template let-emp pTemplate="rowexpansion">
                    <tr>
                        <td [attr.colspan]="5" style="width: 100%;">
                            <div *ngIf="!doneSetup" class="loading-overlay">
                                <i class="fa fa-spinner fa-spin orange"></i>
                            </div>
                            <div *ngIf="doneSetup" class="ui-grid ui-grid-responsive ui-fluid">
                                <p>THÔNG TIN ĐƠN HÀNG</p>
                                <div>Họ tên: {{orderdetail.ho_ten}}</div>
                                <div>Địa chỉ: {{orderdetail.dia_chi}}</div>
                                <div>Email: {{orderdetail.email}}</div>
                                <div>Số điện thoại: {{orderdetail.sdt}}</div>
                                <p>CHI TIẾT ĐƠN HÀNG</p>
                                <p-table [value]="orderdetail.listjson_chitiet" responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th>Tên Khóa học</th>
                        <th>Mức giá</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-it>
                    <tr>
                        <td>{{it.item_name}}</td>
                        <td>{{it.muc_gia}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- <div class="col-xs-12" style="text-align: right;">
        <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true"
          (pageChange)="loadPage($event)"></ngb-pagination>
      </div> -->
    <!-- /.col -->
    </div>
    <!-- /.row -->
    <div *ngIf="showUpdateModal" id="createUserModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg full-height-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật hóa đơn bán hàng</h4>
                </div>
                <form *ngIf="doneSetupForm" [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)"
                    class="form-horizontal utehy-form">
                    <div class="modal-body no-padding">
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right"> Họ tên(<span
                                    style="color: red;">*</span>)</label>
                            <div class="col-md-10">
                                <input type="text" placeholder="Họ tên" formControlName="ho_ten" />
                                <div *ngIf="submitted && f.hoten.errors" class="invalid-feedback">
                                    <div *ngIf="f.hoten.errors.required">Họ tên là bắt buộc</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right"> Địa chỉ</label>
                            <div class="col-md-10">
                                <input type="text" formControlName="dia_chi" placeholder="Địa chỉ" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right"> Khóa học</label>
                            <div class="col-md-4">
                                <p-dropdown [options]="items" formControlName="sanpham" [(ngModel)]="item"
                                    optionLabel="item_name" optionValue="item_id" [style]="{'width':'100%'}"></p-dropdown>
                            </div>
                            <label class="col-sm-2 control-label no-padding-right"> Thêm vào danh sách chi tiết</label>
                           
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-default btn-sm" (click)="Them()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="!doneSetupForm" class="loading-overlay">
                            <i class="fa fa-spinner fa-spin orange"></i>
                        </div>
                        <div *ngIf="doneSetupForm" class="ui-grid ui-grid-responsive ui-fluid">
                            <p>THÔNG TIN ĐƠN HÀNG</p>
                            <div>Họ tên: {{orderdetail.ho_ten}}</div>
                            <div>Địa chỉ: {{orderdetail.dia_chi}}</div>
                            <h5>CHI TIẾT ĐƠN HÀNG</h5>
                            <p-table [value]="orderdetail.listjson_chitiet" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Tên sản phẩm</th>
                                        <th style="width: 100px;">Mức giá</th>
                                        <th style="width: 50px;">Tác vụ</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-it>
                                    <tr>
                                        <td>{{it.item_name}}</td>
                                        <td pEditableColumn>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input formControlName="abc" pInputText type="text"
                                                        [(ngModel)]="it.so_luong">
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{it.so_luong}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td style="width: 50px;"><button type="button" class="btn btn-default btn-sm"
                                                (click)="Xoa(it)">
                                                <i class="fa fa-times"></i>
                                            </button></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-sm btn-submit">
                            <i class="fa fa-save"></i> Cập nhật
                        </button>
                        <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
                            <i class="fa fa-times"></i> Đóng lại
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
